/* src/styles/Navbar.css */

.navbar {
  display: flex;
  justify-self: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  margin-top: 1rem;
  width: 50%;
  z-index: 1000;
  border: 1px solid #cccccc76; 
  border-radius: 1rem;

  z-index: 1000;
}
.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.406); 
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px; /* Adjust the height of the logo as needed */
  margin-right: 0.5rem; /* Space between the logo and the title */
  border-radius: 0.4rem;
}

.navbar-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem; /* Adjust the size as needed */
  font-weight: bold;
  color: #FFF; /* Adjust the color as needed */
}



.mobile-menu{
  display: none;
}
@media screen and (max-width:768px) {
  .navbar-flex {
    display: flex;
    align-items: left;
    justify-content: space-between;

  }

  .button-download {
    display: none;
  }
  
}

.navbar-container {
  max-width: 100%;
  width: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width:769px) {
  .navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
  
  .button-download {
    background-color: #60009A; /* Slightly lighter background on hover/focus */
    color: #ffffff;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.9rem;
    cursor: pointer; /* Indicates the button is clickable */
    text-decoration: none; /* Remove underline from text */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
    box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.09);
  
  }
}



.button-download:hover,
.button-download:focus { /* Added focus for accessibility */
  opacity: 0.9;
  transform: scale(1.05);
}



