@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@400;500;600;700&display=swap');

.navbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  transition: 
    width 0.6s ease,
    height 0.6s ease,
    background 0.4s ease,
    border-radius 0.6s ease,
    box-shadow 0.3s ease,
    opacity 0.4s ease;
  overflow: hidden;
}

.navbar.hidden {
  width: 100vw;
  height: auto;
  background: rgba(52, 51, 51, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  opacity: 1;
  pointer-events: none;
  box-shadow: none;
}

.navbar.scrolled {
  width: 50%;
  top: 1rem;
  height: auto;
  border-radius: 9999px;
  background: rgba(52, 51, 51, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  opacity: 1;
  pointer-events: all;
}

.navbar-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease 0.3s, transform 0.5s ease 0.3s;
}

.navbar.hidden .navbar-flex {
  opacity: 1;
  transform: translateY(0);
}

.navbar.scrolled .navbar-flex {
  opacity: 1;
  transform: translateY(0);
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-img {
  height: 50px;
  width: auto;
  border-radius: 0.4rem;
}

.navbar-title-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 0.28rem;
}

.navbar-title-f {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  letter-spacing: 0.3px;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s cubic-bezier(0.4,0,0.2,1);
}

.fibonacci-fn {
  font-style: italic;
  font-weight: 700;
}

.navbar.hidden .navbar-flex .navbar-title-f {
  opacity: 1;
}

.navbar.scrolled .navbar-flex .navbar-title-f {
  opacity: 0;
}

/* CTA Buttons Container */
.navbar-cta {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Navigation Buttons */
.button-nav {
  background: transparent;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.9rem;
  transition: opacity 0.3s ease-in-out;
}

.button-nav:hover,
.button-nav:focus {
  opacity: 0.7;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-flex {
    display: flex;
    align-items: left;
    justify-content: space-between;
  }

  .navbar-cta {
    display: none;
  }
}